
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'nunito', sans-serif;
}

:root{
    --bg-color:#191f36;
    --snd-bg-color:#262B40;
    --text-color:#fff;
    --main-color:#59B2F4;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
}


#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

    /* home styles */
    
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 2.5rem
}

.home p{
    letter-spacing: 2px;
    line-height: 30px;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;


}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--text-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}


.home-img img{
    width: 34rem;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
}



@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}


    

.home-content p{
    font-size: 1.6rem;
    word-wrap:break-word;
    word-break: break-all;
    hyphens: auto;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0rem;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    border: none;
}

.btn:hover{
    box-shadow: none;
}

/* about styles */

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.5rem;
    background-color: var(--snd-bg-color);
}

.read-more{
    display: none;
}

.about-img img{
    width: 34rem;
    border-radius: 5rem;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    letter-spacing: 2px;
    line-height: 25px;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
}

/* Skills styles */
.skills h2{
    margin-bottom: 5rem;
}

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

 .skills-container .skills-box{
    flex: 1 1 30rem;
    background-color: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}



.skills-container .skills-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-box i{
    font-size: 7rem;
    color:var(--main-color)
}

.skills-box h3{
    font-size: 2.6rem;
}

.skills-box .skill-logo{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    height: 200px;
    width: 300px;
    flex-wrap: wrap;
}

.skill-logo img{
    height: 50px;
    width: 50px;
}

/* Project styles */

.projects{
    
    background-color: var(--bg-color);

}

.projects h2{
    margin-bottom: 4rem;

}

.projects-container{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2.5rem;
   flex-wrap: wrap;
}
.projects-container .projects-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0  0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    height: 300px;
    width: 300px;
    cursor: pointer;
}

.projects-box img{
    width: 100%;
    transition: .5s ease;
    opacity: .7;
}

.projects-box:hover img{
    transform: scale(1.1);
}


.projects-box .projects-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .projects-layer{
    transform: translateY(80px);
}

.projects-layer h4{
    font-size: 3rem;
}

.projects-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.projects-layer a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;   
    border-radius: 50%;
}

.projects-layer a i{
    font-size: 2rem;
    color: var(--text-color);
        
}


.contact{
    background-color: var(--snd-bg-color);

}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: .8rem;
    margin: .7rem 0;
   border: none;
}

.contact form .input-box input{
    width: 49%;
}

.contact form  textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
    border: none;
}

.contact-bt{
    display: flex;
    gap: 2rem;
}

.contact-bt a{
    width: 100%;
}

.contact-bt button{
    width: 100%;
    border-radius: .8rem;
    letter-spacing: .1rem;
    padding: 1rem 2.8rem;
    font-size: 1.6rem;
    border: none;
    background-color: var(--main-color);
    box-shadow: 0 0 .7rem var(--main-color);
    color: var(--bg-color);
    font-weight: 600;
    transition: .5s ease;

    &:hover{
        box-shadow: none;
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}

.footer-text{
    font-size: 1.6rem;
}

.footer-iconTop{
    display: inline-flex;
    justify-content: center;
    padding: .8rem 1rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
    
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2rem;
    color: var(--snd-bg-color);
}

@media (max-width:1037px) {
    .home-content h1{
        font-size:4rem;

    }

    .home-content h3{
        font-size: 2.5rem;
    }

    .about-content h2, .contact h2, .projects h2{
        font-size:4rem;

    }
}

@media (max-width:855px) {
   
    .home{
        text-align: center;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .home-content h3{
        font-size: 2.3rem;
    }

    .home-img img{
        width: 30rem;
        height: 33rem;
        border-radius: 10px;
        
    }

    .about-content h2{
        text-align: center;
    }

    .about-content{
        text-align: center;

    }

    .about-img {
        display: none;
    }

    .input-box {
        flex-wrap: wrap;
    }

    .contact form .input-box input{
        width:100%;
    }

  .footer{
    gap: 2rem;
  }

  #menu-icon{
    display: block;
    font-size: 2.5rem;
  }

  .navbar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 63px;
    /* right: -160px; */
    right: 0;
    padding: 4rem 6rem 2rem 0rem;
    transition: ease-in-out .5s;
    
  }
  .navbar a{
    display: block;
    width: 15rem;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid black;
    opacity: .8.5;
    transition: ease-in-out .4s;
    background-color: rgba(34, 34, 218, 0.932);
    text-align: center;

    &:hover{
 
        opacity: 1;
        transform: scale(1.2);
        box-shadow:3px 3px 0px  0px  black;
    }
  } 
  
  .navbar :nth-child(1){
    position: absolute;
    right: -150px;
    margin-top: -4rem;
    padding: 5px 10px;
    transition:ease-in-out .2s;
  }

  .navbar :nth-child(2){
    position: absolute;
    right: -300px;
    margin-top: 0rem;
    padding: 5px 10px;
    transition:ease-in-out .3s;

  }

  .navbar :nth-child(3){
    position: absolute;
    right: -450px;
    margin-top: 4rem;
    padding: 5px 10px;
    transition:ease-in-out .4s;

  }

  .navbar :nth-child(4){
    position: absolute;
    right: -600px;
    margin-top: 8rem;
    padding: 5px 10px;
    transition:ease-in-out .5s;

  }

  .navbar :nth-child(5){
    position: absolute;
    right: -750px;
    margin-top: 12rem;
    padding: 5px 10px;
    transition:ease-in-out .6s;

  }
}

h4 .text-blue{
    font-size: large;
}
.text-blue{
    color: #00ffff
}
